.containter {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "header"
    "section"
    "aside-1"
    "aside-2"
    "footer"
}

@media (min-width: 500px) {
  .containter {
    grid-template-areas: 
      "header header header"
      "aside-1 section aside-2"
      "footer footer footer"
  }
}

.containter > * {
  background-color: mediumseagreen;
  font-size: 40px
}

header {
  grid-area: header
}

section {
  grid-area: section
}

footer {
  grid-area: footer
}

aside:nth-of-type(1) {
  grid-area: aside-1
}

aside:nth-of-type(2) {
  grid-area: aside-2
}